# oTree-may-overwrite-this-file
# IF YOU MODIFY THIS FILE, remove these comments. 
# otherwise, oTree will automatically overwrite it.

otree==5.10.0
psycopg2-binary
dj-database-url
websockets>=10.0,<13.0